version: "3"
services:
  compiler:
    build:
      context: ../../backend
      dockerfile: $PWD/backend/Dockerfile
    command: [ "run", "prestart:prod" ]
  tests:
    build:
      context: ../../backend
      dockerfile: $PWD/backend/Dockerfile
    command: [ "run", "test" ]
    env_file:
      - ../../backend/src/.testing.env